@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

*{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
}
div{
    overflow: hidden;
}

#warning{
    color: red;
}

.container{
    width: 1000px;
    padding: 20px;
    display: flex;
}

.album{
    height: 200px;
    width: 200px;
    align-self: center;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    background: rgb(45,45,45);
    align-content: center;
}

.album > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame{
    overflow: hidden;
    position: absolute;
    width: 600px;
    height: 200px;
    left: 220px;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    background: rgb(30,30,30);
    opacity: 0.7;
    align-content: center;
    z-index: -1;
}

.frame > img{
    position: relative;
    min-width: 250%;
    max-height: 250%;
    filter:blur(4px) brightness(40%);
    top: -70px;
    left: -400px;
}

.info{
    width: 600px;
    height: 200px;
    color: white;
    white-space: nowrap;
    display: flex;
}

.user{
    display: flex;
    white-space: nowrap;
}

.space{
    width: 50px
}

.space2{
    width: 500px;
    height: 40px;
}
.space3{
    height: 26px;
}

.space4{
    width: 25px;
    height: 50px;
}

.space5{
    height: 250px;
}

.text-animation{
    animation: side-l2r 30s infinite;
}

.animation-in{
    animation: in 1s;
    width: 0px;
}

.animation-out{
    animation: out 1s;
}

@keyframes in {
    0%{
        width: 600px;
    }
    100%{
        width: 0px;
    }
}

@keyframes out {
    0%{
        width: 1px;
    }
    100%{
        width: 600px;
    }
}

@keyframes side-l2r {
    0%{
        margin-left: 0%;
    }
    50%{
        margin-left: -100%;
    }
    100%{
        margin-left: 0%;
    }
}

@keyframes none {
    0%{}
}